.selected-panel {
  -fx-border-color: #F53F19;
  -fx-border-width: 2;
  -fx-border-style: solid;
}

.my-radio-button:selected .dot {
    -fx-mark-color: #F53F19;
}

.word-row-container {
    -fx-margin: 10px 20px 10px 20px; /* top, right, bottom, left */
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color:  #F53F19;
    -fx-background-radius: 10;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-arrow-button-background: #F53F19;
}

.progress-indicator {
    -fx-progress-color: #f2efea;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-max-width: 15px;
    -fx-max-height: 15px;
}

.custom-scroll-pane {
    -fx-background: #325A64;
    -fx-border-color: #891C29;
}

.tab-pane {
    -fx-background-color: #819fa7;
    -fx-border-color: #891C29;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: #f2efea;  /* or specify your hex value here */
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-pref-height: 36px;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #F53F19;
}

.tab-label {
    -fx-font-weight: bold;
}


